
.tagline-anim {
    background: radial-gradient(circle, #ed457d 0%,  #ab47bd 30%, #7149bc 50%, #50af53 70%, #3771c8 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: gradient 10s linear infinite alternate;
}
@keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }

/*Electricity Hollywoood 40 yrs to bulb*/
@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

#bolt {
    animation: show 1s .1s ease 1
}

#h{
    animation: show  3.5s ease-in-out forwards 3.1s;
}

#o1 {
    animation: show  3.5s ease-in-out forwards 3.4s;
}

#L1 {
    animation: show  3.5s ease-in-out forwards 3.5s;
}

#L2 {
    animation: show  3.5s ease-in-out forwards 3.6s;
}

#Y { 
    animation: show  3.5s ease-in-out forwards 3.7s;
}

#W {
    animation: show  3.5s ease-in-out forwards 3.8s;
}

#o2 {
    animation: show  3.5s ease-in-out forwards 3.9s;
}

#o3 {
    animation: show  3.5s ease-in-out forwards 4.0s;
}

#D {
    animation: show  3.5s ease-in-out forwards 4.1s;
}

#step {
    animation: show  2s ease-in-out forwards 4.2s;
}

#forty {
    animation: show  1.75s ease-in-out forwards 4.3s;
}

#plus {
    animation: show  1.5s ease-in-out forwards 4.4s;
}

#years {
    animation: show  1s ease-in-out forwards 4.5s;
}

#bulb {
    opacity: 0;
    animation: show  .25s ease-in-out forwards 4.6s;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}