.tagline-anim {
    background: radial-gradient(circle, #ed457d 0%,  #ab47bd 30%, #7149bc 50%, #50af53 70%, #3771c8 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 400%;
    animation: gradient 10s linear infinite alternate
}

@keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
}

/* water pipe */
.circle
{
	position: relative;
	left: 50%;
	transform: translate(-50%, -20%);
	width: 3.5em;
	height: 3.5em;
	background: #ccc;
	border: .15em solid #fff;
	box-shadow: 0 0 0 .25em #000;
	border-radius: 50%;
  overflow: hidden;
}

.wave
{
	position: relative;
	width: 100%;
	height: 100%;
	background: #34786d;
	border-radius: 50%;
	box-shadow: inset 0 0 5.5em rgba(0,0,0,.5);
}

.wave:before,
.wave:after
{
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
	top: 0;
	left: 50%;
	transform: translate(-50%,-75%);
	background: #000;
}


.wave:before
{
	border-radius: 45%;
	background:rgba(255,255,255,1);
	animation: animate 5s linear infinite;
}

.wave:after
{
	border-radius: 40%;
	background: rgba(255,255,255, .5);
	animation: animate 10s linear infinite;
}

@keyframes animate
{
	0%
	{
		transform: translate(-50%, -75%) rotate(0deg);
	}
	100%
	{
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

/* no more septic animation */
#NO {
    /* animation: show 3s 0s ease 1 */
	opacity: 0;
	animation: a-hide-show 9s ease-in-out infinite
}

#MORE {
    
    /* animation: show 3s 1.5s ease 1 */
	opacity: 0;
	animation: a-hide-show 9s 1.5s ease-in-out infinite
}

#SEPTIC {
    /* animation: show 3s 3s ease 1 */
	opacity: 0;
	animation: a-hide-show 9s 3s ease-in-out infinite
}
