/* Experimental */
@keyframes circle-fade {
    0%{ opacity: 0; }
    25%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 1; }
}
    #circle-fade{
        opacity: 0;
        animation: circle-fade 3s ease-in-out infinite;
    }

/* IBEW LOGO ANIMATION */
/* HOLLYWOOD */
@keyframes holly-wood-pop {
    from {opacity: 0;}
    to {opacity: 1;}
}

#hollywood {
        animation: holly-wood-pop 1s 9s ease 1;
}
/* FIST */
@keyframes popup-fist {
    0% {
        transform: translateY(58px);
    }
    34% {
        transform: translateY(0px);
    }
    37% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

.fist {
    opacity: 1;
    transform: translateY(0px);
    animation: popup-fist 1s 9s ease 1;
}

/* IBEW LOCAL 40 */

@keyframes ibew-show {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

#ibew path:nth-child(1){
    /* &:nth-child(1){ */
    animation: ibew-show  3s 0s ease 1;
}

#ibew path:nth-child(2) {
    /* &:nth-child(2){ */
    animation: ibew-show  3s 0s ease 1;
}

#ibew path:nth-child(3) {
    /* &:nth-child(3){ */
    animation: ibew-show  3s 0s ease 1;
}

#ibew path:nth-child(4) {
    /* &:nth-child(4){ */
    animation: ibew-show  3s 0s ease 1;
}

#ibew path:nth-child(5) { 
    /* &:nth-child(5){ */
    animation: ibew-show  3s 1.5s ease 1;
}

#ibew path:nth-child(6) {
    /* &:nth-child(6){ */
    animation: ibew-show  3s 1.5s ease 1;
}

#ibew path:nth-child(7) {
    /* &:nth-child(7){ */
    animation: ibew-show  3s 1.5s ease 1;
}

#ibew path:nth-child(8) {
    /* &:nth-child(8){ */
    animation: ibew-show  3s 1.5s ease 1;
}

#ibew path:nth-child(9) {
    /* &:nth-child(9){ */
    animation: ibew-show  3s 1.5s ease 1;
}

#ibew path:nth-child(10) {
    /* &:nth-child(2){ */
    animation: ibew-show  3s 3s ease 1;
}

#ibew path:nth-child(11) {
    /* &:nth-child(11){ */
    animation: ibew-show  3s 3s ease 1;
}

 /* MPI words Animation - Transparent */

@keyframes mpi-fill{
    from {opacity: 0s;}
    to{opacity: 1s;}
}

#mpi{
    animation: mpi-fill 0.7 ease forwards 3s;
} */

@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
}


#mpi path:nth-child(1){
    stroke-dasharray: 35.06;
    stroke-dashoffset: 35.06;
    animation: line-anim 3.5s ease-in-out forwards 3.1s;
    animation-iteration-count: 1;
} 

#mpi path:nth-child(2){
    stroke-dasharray: 37.70;
    stroke-dashoffset: 37.70;
    animation: line-anim 3.5s ease-in-out forwards 3.4s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(3){
    stroke-dasharray: 39.23;
    stroke-dashoffset: 39.23;
    animation: line-anim 3.5s ease-in-out forwards 3.5s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(4){
    stroke-dasharray: 31.51;
    stroke-dashoffset: 31.51;
    animation: line-anim 3.5s ease-in-out forwards 3.6s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(5){
    stroke-dasharray: 16.35;
    stroke-dashoffset: 16.35;
    animation: line-anim 3.5s ease-in-out forwards 3.5s;
    animation-iteration-count: 1;
}

    #mpi path:nth-child(6){
    stroke-dasharray: 44.60;
    stroke-dashoffset: 44.60;
    animation: line-anim 3.5s ease-in-out forwards 3.8s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(7){
    stroke-dasharray: 41.70;
    stroke-dashoffset: 41.70;
    animation: line-anim 3.5s ease-in-out forwards 3.9s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(8){
    stroke-dasharray: 23.38;
    stroke-dashoffset: 23.38;
    animation: line-anim 3.5s ease-in-out forwards 4.0s;
    animation-iteration-count: 1;
}

    #mpi path:nth-child(9){
    stroke-dasharray: 32.95;
    stroke-dashoffset: 32.95;
    animation: line-anim 3.5s ease-in-out forwards 4.1s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(10){
    stroke-dasharray: 33.56;
    stroke-dashoffset: 33.56;
    animation: line-anim 3.5s ease-in-out forwards 4.1s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(11){
    stroke-dasharray: 53.85;
    stroke-dashoffset: 53.85;
    animation: line-anim 3.5s ease-in-out forwards 4.3s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(12){
    stroke-dasharray: 39.45;
    stroke-dashoffset: 39.45;
    animation: line-anim 3.5s ease-in-out forwards 4.4s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(13){
    stroke-dasharray: 26.56;
    stroke-dashoffset: 26.56;
    animation: line-anim 3.5s ease-in-out forwards 4.5s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(14){
    stroke-dasharray: 16.35;
    stroke-dashoffset: 16.35;
    animation: line-anim 3.5s ease-in-out forwards 4.6s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(15){
    stroke-dasharray: 39.45;
    stroke-dashoffset: 39.45;
    animation: line-anim 3.5s ease-in-out forwards 4.5s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(16){
    stroke-dasharray: 44.60;
    stroke-dashoffset: 44.60;
    animation: line-anim 3.5s ease-in-out forwards 4.8s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(17){
    stroke-dasharray: 31.58;
    stroke-dashoffset: 31.58;
    animation: line-anim 3.5s ease-in-out forwards 4.9s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(18){
    stroke-dasharray: 16.35;
    stroke-dashoffset: 16.35;
    animation: line-anim 3.5s ease-in-out forwards 5.0s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(19){
    stroke-dasharray: 32.33;
    stroke-dashoffset: 32.33;
    animation: line-anim 3.5s ease-in-out forwards 5.1s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(20){
    stroke-dasharray: 26.56;
    stroke-dashoffset: 26.56;
    animation: line-anim 3.5s ease-in-out forwards 5.2s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(21){
    stroke-dasharray: 35.26;
    stroke-dashoffset: 35.26;
    animation: line-anim 3.5s ease-in-out forwards 5.3s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(22){
    stroke-dasharray: 39.23;
    stroke-dashoffset: 39.23;
    animation: line-anim 3.5s ease-in-out forwards 5.4s ;
    animation-iteration-count: 1;
}

    #mpi path:nth-child(23){
    stroke-dasharray: 37.70;
    stroke-dashoffset: 37.70;
    animation: line-anim 3.5s ease-in-out forwards 5.5s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(24){
    stroke-dasharray: 16.35;
    stroke-dashoffset: 16.35;
    animation: line-anim 3.5s ease-in-out forwards 5.6s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(25){
    stroke-dasharray: 44.61;
    stroke-dashoffset: 44.61;
    animation: line-anim 3.5s ease-in-out forwards 5.5s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(26){
    stroke-dasharray: 40.93;
    stroke-dashoffset: 40.93;
    animation: line-anim 3.5s ease-in-out forwards 5.8s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(27){
    stroke-dasharray: 35.26;
    stroke-dashoffset: 35.26;
    animation: line-anim 3.5s ease-in-out forwards 5.9s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(28){
    stroke-dasharray: 35.06;
    stroke-dashoffset: 35.06;
    animation: line-anim 3.5s ease-in-out forwards 6.0s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(29){
    stroke-dasharray: 26.59;
    stroke-dashoffset: 26.59; 
    animation: line-anim 3.5s ease-in-out forwards 6.1s;
    animation-iteration-count: 1;/* 28 opacity: 10% */
}

    #mpi path:nth-child(30){
    stroke-dasharray: 39.3;
    stroke-dashoffset: 39.3;
    animation: line-anim 3.3s ease-in-out forwards 6.2s;
    animation-iteration-count: 1;
}

#mpi path:nth-child(31){
    stroke-width:0.82814586;
    stroke-dasharray: 27.15;
    stroke-dashoffset: 27.15;
    animation: line-anim 3.3s ease-in-out forwards 6.3s;
    animation-iteration-count: 1;
}

@keyframes hide-show {
    from {opacity: 0;}
    to {opacity: 1;}
}

#since, #year {
        animation: hide-show 9s .1s ease-in-out 1;
}


@keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
    from {opacity: 0;}
    to {opacity: 1;} */
}

    #mpi path:nth-child(1){
        stroke-dasharray: 15.03;
        stroke-dashoffset: 15.03;
        animation: line-anim 6.5s ease-in-out .3s;
        animation-iteration-count: infinite;
        
    } 
    
    #mpi path:nth-child(2){
        stroke-dasharray: 16.17;
        stroke-dashoffset: 16.17;
        animation: line-anim 6.5s ease-in-out .4s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(3){
        stroke-dasharray: 16.81;
        stroke-dashoffset: 16.81;
        animation: line-anim 6.5s ease-in-out .5s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(4){
        stroke-dasharray: 13.31;
        stroke-dashoffset: 13.31;
        animation: line-anim 6.5s ease-in-out .6s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(5){
        stroke-dasharray: 7.01;
        stroke-dashoffset: 7.01;
        animation: line-anim 6.5s ease-in-out .7s;
        animation-iteration-count: infinite;
    }
    
        #mpi path:nth-child(6){
        stroke-dasharray: 19.11;
        stroke-dashoffset: 19.11;
        animation: line-anim 6.5s ease-in-out .8s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(7){
        stroke-dasharray: 17.87;
        stroke-dashoffset: 17.87;
        animation: line-anim   6.5s ease-in-out .9s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(8){
        stroke-dasharray: 10.02;
        stroke-dashoffset: 10.02;
        animation: line-anim 6.5s ease-in-out 1s;
        animation-iteration-count: infinite;
    }
    
        #mpi path:nth-child(9){
        stroke-dasharray: 14.12;
        stroke-dashoffset: 14.12;
        animation: line-anim 6.5s ease-in-out 1.1s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(10){
        stroke-dasharray: 14.38;
        stroke-dashoffset: 14.38;
        animation: line-anim 6.5s ease-in-out 1.2s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(11){
        stroke-dasharray: 23.08;
        stroke-dashoffset: 23.08;
        animation: line-anim 6.5s ease-in-out 1.3s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(12){
        stroke-dasharray: 16.91;
        stroke-dashoffset: 16.91;
        animation: line-anim 6.5s ease-in-out 1.4s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(13){
        stroke-dasharray: 11.39;
        stroke-dashoffset: 11.39;
        animation: line-anim 6.5s ease-in-out 1.5s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(14){
        stroke-dasharray: 7.01;
        stroke-dashoffset: 7.01;
        animation: line-anim 6.5s ease-in-out 1.6s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(15){
        stroke-dasharray: 16.91;
        stroke-dashoffset: 16.91;
        animation: line-anim 6.5s ease-in-out 1.7s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(16){
        stroke-dasharray: 19.11;
        stroke-dashoffset: 19.11;
        animation: line-anim   6.5s ease-in-out 1.8s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(17){
        stroke-dasharray: 13.33;
        stroke-dashoffset: 13.33;
        animation: line-anim 6.5s ease-in-out 1.9s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(18){
        stroke-dasharray: 7.01;
        stroke-dashoffset: 7.01;
        animation: line-anim 6.5s ease-in-out 2.0s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(19){
        stroke-dasharray: 13.86;
        stroke-dashoffset: 13.86;
        animation: line-anim 6.5s ease-in-out 2.1s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(20){
        stroke-dasharray: 11.39;
        stroke-dashoffset: 11.39;
        animation: line-anim 6.5s ease-in-out 2.2s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(21){
        stroke-dasharray: 15.12;
        stroke-dashoffset: 15.12;
        animation: line-anim 6.5s ease-in-out 2.3s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(22){
        stroke-dasharray: 16.81;
        stroke-dashoffset: 16.81;
        animation: line-anim 6.5s ease-in-out 2.4s ;
        animation-iteration-count: infinite;
    }
    
        #mpi path:nth-child(23){
        stroke-dasharray: 16.17;
        stroke-dashoffset: 16.17;
        animation: line-anim 6.5s ease-in-out 2.5s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(24){
        stroke-dasharray: 7.01;
        stroke-dashoffset: 7.01;
        animation: line-anim 6.5s ease-in-out 2.6s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(25){
        stroke-dasharray: 19.11;
        stroke-dashoffset: 19.11;
        animation: line-anim 6.5s ease-in-out 2.7s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(26){
        stroke-dasharray: 17.54;
        stroke-dashoffset: 17.54;
        animation: line-anim 6.5s ease-in-out 2.8s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(27){
        stroke-dasharray: 15.12;
        stroke-dashoffset: 15.12;
        animation: line-anim 6.5s ease-in-out 2.9s;
        animation-iteration-count: infinite;
    }
   
    #mpi path:nth-child(28){
        stroke-dasharray: 15.03;
        stroke-dashoffset: 15.03;
        animation: line-anim 6.5s ease-in-out 3.0s;
        animation-iteration-count: infinite;
    }
    
    #mpi path:nth-child(29){
        stroke-dasharray: 11.39;
        stroke-dashoffset: 11.39; 
        animation: line-anim 6.5s ease-in-out 3.1s;
        animation-iteration-count: infinite; 
    }
    
        #mpi path:nth-child(30){
        stroke-dasharray: 16.81;
        stroke-dashoffset: 16.81;
        animation: line-anim 6.5s ease-in-out 3.2s;
        animation-iteration-count: infinite;
        
    }
    
    #mpi path:nth-child(31){
        stroke-dasharray: 11.21;
        stroke-dashoffset: 11.21;
        animation: line-anim 6.5s ease-in-out 3.3s;
        animation-iteration-count: infinite;
    }

/* HEART and HANDS FADE-IN */

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

#heart {
        animation: show 8s 1s ease 1;
}

#hands {
        animation: show 15s 1s ease-in-out 1;
}

 /* AMPERSAND*/

 @keyframes ampersand-pop {
    from {opacity: 0;}
    to {opacity: 1;}
}

#ampersand {
        animation: ampersand-pop 20s .1s ease 1;
}

/* PHONE NUMBER ANIMATION */

@keyframes phone-hide-show {
    0%{ opacity: 0; }
    25%{ opacity: 0; }
    50%{ opacity: 1; }
    100%{ opacity: 1; }
}
    #area-code{
        opacity: 0;
        animation: phone-hide-show 9s ease-in-out infinite;
    }

    #prefix {
        opacity: 0;
        animation: phone-hide-show  9s 1.5s ease-in-out infinite;
    }

    #the-number {
        opacity: 0;
        animation: phone-hide-show 9s 3s ease-in-out infinite;
    }

    #in-paren {
        opacity: 0;
        animation: phone-hide-show  9s 6s ease-in-out infinite;
    }
