---
layout: page
permalink: /categories/
title: All
date: 2020-03-06
tagline: Topics and Posts Lists
ref: 0
---
<div class = "container-fluid">
  <div class = "row justify-content-center">
    TOPICS:&nbsp;<a title="Certified Nurse Aide -Related posts" href="#CNA">CNA</a>,&nbsp;<a title="Web Development & Networking -Related posts" href="#WEB">WEB</a>,&nbsp;<a title="Fiber Arts and Viking Sheep -Related posts" href="#VSA">VSA</a>
  </div>
  <hr/>
{% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <a id="{{ category_name | slugize }}">
    {{ category_name }}
  </a>
  {% for post in site.categories[category_name] %}
    <li><a id="{{post.title}}" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
    </li>
  {% endfor %}
{% endfor %}
</div>
