---
categories: [Train, Consult, Contract]
---

<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}
    
    <section class="main-content">
      <div class = "container-fluid">
          {{ content }}
      </div>
      {% if page.title == "Contact About" %}
        <div class = "row justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc1sNAJAEr8cGN61CMTHj2QVRMsjMrg3d0dWdojWWBYMUGBow/viewform?embedded=true" width="640" height="820" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
      {% endif %}
      {% include page-footer.html %}
    </section>
  </body>
</html>
