---
categories: []
---

<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}
    <section id="doc" class="main-content">
      <div class = "container-fluid">
        {{ content }}
      {% if page.title == "Contact" %}
      <div class="row justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdO-uZ7rBx2DDFs2SRobcK3J4_Wv4Ps1-DDF7B5fxMhcGw3Cg/viewform?embedded=true" width="640" height="910" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </div>
      {% endif %}
      <div class="row justify-content-center">
      {% if page.title == "Proposal" %}
        <a href="/sources/#doc" title="Links for Original Docs">=> ORIGINAL <=</a>
        <img src="/letter.png" title="City Engineer Letter">  
      </div>
      <div>
        <img src="/map.png" title="Sewer Feasibility Map">  
      </div>
      {% endif %}
      {% include page-footer.html %}
    </section>
  </body>
</html>
