---
categories: []
---

<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}
    <section id="doc" class="main-content">
      <div class = "container-fluid">
        {{ content }}
      {% if page.title == "Contact" %}
      <div class="row justify-content-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdO-uZ7rBx2DDFs2SRobcK3J4_Wv4Ps1-DDF7B5fxMhcGw3Cg/viewform?embedded=true" width="640" height="910" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </div>
      {% endif %}
      <div class="row justify-content-center">
      {% if page.title == "Proposal" %}
      <a href="https://www.keepandshare.com/photo/viewphoto.php?u=5a760249745c7440&sz=sb&i=183130" target="_blank" title="Click to open a larger image"><img src="https://www.keepandshare.com/userpics/d/_/a/_/b/2021-03/st/letter-22259106.jpg?ts=1614865845" border="0" alt="Image hosting by KeepandShare.com" /></a>
      <a href="https://www.keepandshare.com/photo/viewphoto.php?u=5a760249745f7443&sz=sb&i=183130" target="_blank" title="Click to open a larger image"><img src="https://www.keepandshare.com/userpics/d/_/a/_/b/2021-03/st/map-38320481.jpg?ts=1614864178" border="0" alt="Image hosting by KeepandShare.com" /></a>
      </div>
      {% endif %}
      {% include page-footer.html %}
    </section>
  </body>
</html>
